#demo-app v1

#basics
streamlit
pandas==2.1.2
shapely==2.0.2
numpy==1.26.1

#spatial
geopandas==0.14.0
pyproj==3.6.0
fiona==1.9.4
scipy==1.11.4

#data
geocoder==1.38.1
requests==2.31.0
boto3==1.28.73
psycopg2-binary==2.9.9
sqlalchemy==2.0.22

#viz
plotly==5.18.0